body {
    font-family: "Inconsolata", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    color: #333333;
    background: #fff;
}

a {
  color: #DD356E;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #DD356E;
  outline: none;
  text-decoration: none;
}

.boton{
  background-color: #DD356E;
  border: #DD356E;
}

.boton:hover{
  background-color: #e35d8b;
  border: #e35d8b;
}
